<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">

	
	<title>Contacts</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="assets/css/main.css">
	
</head>

<body>
		<!-- Fixed navbar -->
		<div id="nav-placeholder">
			<div class="navbar navbar-inverse navbar-fixed-top headroom" >
				<div class="container">
					<div class="navbar-header">
						<!-- Button for smallest screens -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
						<a class="navbar-brand" href="/"><img src="/favicon.ico" alt="BookEZ">  BookEZ</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav pull-right">
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin zone <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="/admin-orders">Orders</a></li>
									<li><a href="/admin-donations">Donations</a></li>
								</ul>
							</li>
							<li><a href="/donation-form">Donate</a></li>
							<li><a class="btn" href="/signin">SIGN IN / SIGN UP</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div> 
		</div>
		<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">About</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="maincontent">
				<header class="page-header">
					<h1 class="page-title">Contacts</h1>
				</header>
				
				
				<div class="widget">
					<h3 style="margin-top: 20px; margin-bottom: 2%; text-align: center;">Business Team</h3>
					<ul class="list-unstyled list-spaces ">

						<div id="contact-wrapper"class="contact-wrapper col-lg-11 col-md-11 col-sm-11">
							<div class="row">

								<div class="col-sm">
									<img id="contactimg" class="contactimg img-thumbnail" src="img/bookez_icon.png" alt="square"/>
								</div>
								<div class="col-sm">
									<li id="contacts" class="contacts">
										<div class="container">
												<div class="row content">										
													<h3 id="names" class = "names">Chris Nguyen</h3>
													<p id="emails" class = "emails"><a href="mailto:chrnguyen@clarku.edu">chrnguyen@clarku.edu</a></p>
													<p id="contact_description" class="contact_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
												</div>									
										</div>
									</li>
								</div>
								
							</div>
						</div>

						
						<div id="contact-wrapper"class="contact-wrapper col-lg-11 col-md-11 col-sm-11">
							<div class="row">

								<div class="col-sm">
									<img id="contactimg" class="contactimg img-thumbnail" src="img/bookez_icon.png" alt="square"/></div>
								<div class="col-sm">
									<li id="contacts" class="contacts">
										<div class="container">
												<div class="row content">										
													<h3 id="names" class = "names">Naveed Sattar</h3>
													<p id="emails" class = "emails"><a href="mailto:nsattar@clarku.edu">nsattar@clarku.edu</a></p>
													<p id="contact_description" class="contact_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
												</div>									
										</div>
									</li>
								</div>
								
							</div>
						</div>

						</ul>
					<br />
					<br />
						<ul class="list-unstyled list-spaces">
						<h3 style="margin-top: auto; margin-bottom: 2%; text-align: center;">Engineer Team</h3>
						
						
						<div id="contact-wrapper"class="contact-wrapper col-lg-11 col-md-11 col-sm-11">
							<div class="row">

								<div class="col-sm">
									<img id="contactimg" class="contactimg img-thumbnail" src="img/bookez_icon.png" alt="square"/></div>
								<div class="col-sm">
									<li id="contacts" class="contacts">
										<div class="container">
												<div class="row content">										
													<h3 id="names" class = "names">Minh Vu</h3>
													<p id="emails" class = "emails"><a href="mailto:MVu@clarku.edu">MVu@clarku.edu</a></p>
													<p id="contact_description" class="contact_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
												</div>									
										</div>
									</li>
								</div>
								
							</div>
						</div>


			
						<div id="contact-wrapper"class="contact-wrapper col-lg-11 col-md-11 col-sm-11">
							<div class="row">

								<div class="col-sm">
									<img id="contactimg" class="contactimg img-thumbnail" src="img/bookez_icon.png" alt="square"/></div>
								<div class="col-sm">
									<li id="contacts" class="contacts">
										<div class="container">
												<div class="row content">										
													<h3 id="names" class = "names">Nguyen Ha</h3>
													<p id="emails" class = "emails"><a href="mailto:JoHa@clarku.edu">JoHa@clarku.edu</a></p>
													<p id="contact_description" class="contact_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
												</div>									
										</div>
									</li>
								</div>
								
							</div>
						</div>


						<div id="contact-wrapper"class="contact-wrapper col-lg-11 col-md-11 col-sm-11">
							<div class="row">

								<div class="col-sm">
									<img id="contactimg" class="contactimg img-thumbnail" src="img/bookez_icon.png" alt="square"/></div>
								<div class="col-sm">
									<li id="contacts" class="contacts">
										<div class="container">
												<div class="row content">										
													<h3 id="names" class = "names">David Pamintuan</h3>
													<p id="emails" class = "emails"><a href="mailto:dpamintuan@clarku.edu">dpamintuan@clarku.edu</a></p>
													<p id="contact_description" class="contact_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
												</div>									
										</div>
									</li>
								</div>
							</div>
						</div>

					</ul>
				</div>
								
				
				
			</article>
			<!-- /Article -->
		</div>
	</div>	<!-- /container -->
	

	<footer id="footer" class="top-space">

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<!-- <div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="#">Home</a> | 
								<a href="about.html">About</a> |
								<a href="sidebar-right.html">Sidebar</a> |
								<a href="contact.html">Contact</a> |
								<b><a href="signup.html">Sign up</a></b>
							</p>
						</div>
					</div> -->

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right" style="text-align:right">
								Copyright &copy; 2022, Book-EZ
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>

	
</body>
</html>