<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	<title>Book-EZ | Donation Form</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="assets/css/main.css">

	<!--Google jQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script src="/js/donation_form.js" defer></script>
	<script src="/js/get_user.js" defer></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

		<!-- Fixed navbar -->

	
		<div id="nav-placeholder">
			<div class="navbar navbar-inverse navbar-fixed-top headroom" >
				<div class="container">
					<div class="navbar-header">
						<!-- Button for smallest screens -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
						<a class="navbar-brand" href="/"><img src="/favicon.ico" alt="BookEZ">  Book-EZ</a>
					</div>
					<!--nav-collapse -->
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav pull-right">
							<li><a href="/">Home</a></li>
							<li class=""><a href="/about">About</a></li>
							<li class="dropdown" id="admin_zone">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin zone <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="/admin-orders">Orders</a></li>
									<li><a href="/admin-donations">Donations</a></li>
								</ul>
							</li>
							<li><a href="/book_list">Book list</a></li>
							<li id="signin"><a class="btn" href="/signin">SIGN IN / SIGN UP</a></li>
							<li class="dropdown" id="profile"> 
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="user_fname"></span>'s profile <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="">Profile page</a></li>
									<li><a href="/cart" id="cart-anchor">Cart</a></li>
									<li><a href="/auth/logout">Logout</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<!--/.nav-collapse -->
				</div>
			</div> 
		</div>
	
	
		<!-- /.navbar -->
	


	<header id="head" class="secondary"></header>




	<!-- container -->
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Donate</li>
		</ol>

		<div class="row">
			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
				<header class="page-header">
					<h1 class="page-title">Donate</h1>
				</header>
				
				
				<form action="/order_and_donation/donate" method = "POST">
					<input type="text" class="form-control" name="user_id" id="user_id">
					<div class="row top-margin" id="full_name">
						<div class="col-sm-6">
							<label>First Name</label>
							<input type="text" class="form-control" name="first_name" id="first_name">
						</div>
						<div class="col-sm-6">
							<label>Last Name</label>
							<input type="text" class="form-control" name="last_name" id="last_name">
						</div>
					</div>

					<div class="row top-margin">
						<div class="col-sm-8">
							<label>Book name <span class="text-danger">*</span></label>
							<input type="text" class="form-control" name="book_name" id="book_name">
						</div>
						<div class="col-sm-4">
							<label>Edition</label>
							<input type="text" class="form-control" name="edition" id="edition">
						</div>
					</div>
					
					<div class="row top-margin">
						<div class="col-sm-8">
							<label>Author name</label>
							<input type="text" class="form-control" name="author_name" id="author_name">
						</div>
						<div class="col-sm-4">
							<label>Condition <span class="text-danger">*</span></label>
							<select name="condition" id="condition" class="form-control">
                                <option value=> </option>
                                <option value="Poor">Poor</option>
                                <option value="Fair">Fair</option>
                                <option value="Good">Good</option>
                                <option value="Very Good">Very Good</option>
								<option value="Like New">Like New</option>
                            </select>
						</div>
					</div>

					<div class="row top-margin">
						<div class="col-sm-6 email_input">
							<label>Email Address <span class="text-danger">*</span></label>
							<input type="email" class="form-control" name="email" id="email">
						</div>
						<div class="col-sm-6">
							<label>Phone Number <span class="text-danger">*</span></label>
							<input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" name="phone_num" id="phone_num">
							<small>Format: 123-456-7890</small>
						</div>
					</div>

					<div class="top-margin">
						<label>How can we reach you to get the book? <span class="text-danger">*</span></label>
						<textarea type="text" class="form-control" name="note" id="note"></textarea>
					</div>

					<div class="top-margin">
						<p id="error_message" style="color: red"></p>
					</div>

					<div class="top-margin">
						<p id="success_message" style="color: green"></p>
					</div>

					<hr>

					<div class="row button">
						<!-- <div class="col-lg-8">
							<label class="checkbox">
								<input type="checkbox"> 
								I've read the <a href="page_terms.html">Terms and Conditions</a>
							</label>                        
						</div> -->
						<!-- <div class="col-lg-4 text-right"> -->
							<button class="btn btn-warning book_info" type="submit">Submit</button>
						<!-- </div> -->
					</div>
				</form>

			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">
				<div class="widget">
			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	

	<br>

		<footer id="footer" class="top-space">
			<div class="footer1">
				<div class="container">
					<div class="row">
						<div class="col-md-3 widget">
							<h3 class="widget-title">Contact</h3>
							<div class="widget-body">
								<p>(508) 310-8300<br>
									<a href="mailto:#">bookEZ@gmail.com</a><br>
									<br>

								</p>
							</div>
						</div>
						<div class="col-md-3 widget">
							<h3 class="widget-title">Follow me</h3>
							<div class="widget-body">
								<p class="follow-me-icons">
									<a href="https://www.instagram.com/clarkubookez/"><i class="fa fa-instagram fa-2"></i></a>
									<a href="https://www.linkedin.com/company/book-ez/"><i class="fa fa-linkedin-square fa-2"></i></a>
									<a href="https://www.youtube.com/watch?v=5Q4nZqo55mo"><i class="fa fa-youtube-square fa-2"></i></a>
								</p>
							</div>
						</div>

						<div class="col-md-6 widget">
							<h3 class="widget-title">About</h3>
							<div class="widget-body">
								<p>
									Book-EZ is a student start-up business based at Clark University,
									operating through recycling and reselling books back to the
									Clark community at extremely affordable prices.
								</p>
							</div>
						</div>

					</div> <!-- /row of widgets -->
				</div>
			</div>
		</footer>
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>

	
</body>
</html>