:root {
    /* CSS HEX */
    --orange-brown: #ed862b;
    --light-yellow: #ffe169;
    /*--light-red: #f9844a;*/
    /*--bright-orange: #f8961e;*/
    /*--light-orange: #ffbd75;*/
    /*--orange: #f3722c;*/
    --red: #ff3c38;
    --white: white;    

    --honeydew: #f1faeeff;
    --powder-blue: #a8dadcff;
    --celadon-blue: #457b9dff;
    --prussian-blue: #1d3557ff;
}

.navbar-custom{
    background-color: var(--light-yellow);
}

.navbar-text{
    color: var(--white);
}

.error_message{
    color: var(--red);
}


/* BOOK LIST */
.odd_row {
    background-color: var(--powder-blue);
}

.even_row {
    background-color: var(--honeydew);
}

#book_list {
    color: black;
}

.bookDiv {
    color: black;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 200px;
}