:root {
    /* CSS HEX */
    --orange-brown: #ed862b;
    --light-yellow: #ffe169;
    /*--light-red: #f9844a;*/
    /*--bright-orange: #f8961e;*/
    /*--light-orange: #ffbd75;*/
    /*--orange: #f3722c;*/
    --red: #ff3c38;
    --white: white;
	--dark: black; 
	--pastel-yellow: #fefae0; /* really light yellow used in highlight */
	/* --celadon-blue: #457b9dff;
    --prussian-blue: #1d3557ff; */
}



/* Header */
#head { 
	background: url( ../../img/header_pic.jpg) no-repeat; 
	background-size: cover; 
	min-height:800px; 
	text-align: center; 
	padding-top:300px; 
	color: var(--white); 
	font-family: 'Karla', sans-serif;
	font-weight:800; }
#head.secondary { height:100px; min-height: 100px; padding-top:0px; }
	#head .lead { font-family: 'Karla', sans-serif;; font-size:60px; margin-bottom:6px; color:white; line-height:1.15em; } 
	#head .tagline { color:rgba(255,255,255,0.75); margin-bottom:25px; }
	#head .btn { margin-bottom:10px;}
	#head .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
		#head .btn-default:hover,
		#head .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head .btn-default:active, 
		#head .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
	#head { min-height:420px; padding-top:160px; }
	#head .lead { font-size: 34px; }
}


/* Autohide navbar */
.slideUp { top:-100px; }
.headroom { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }


/* Highlights (in jumbotron in most cases) */
.highlight { margin-top:40px;}
	.h-caption { text-align: center; } 
	.h-caption i { display:block; font-size: 54px; color:#382526; margin-bottom:36px; }
	.h-caption h4 { color:#382526; font-size: 16px; font-weight: bold; margin-bottom:20px; }
	.h-body { }



/*Find us section*/
#find-us .find-us-image {
	width: 350px;
	height: 350px;
	object-fit: cover;
	border-radius: 50%;
	margin: 70px auto 10px auto;
	display: block;
}

#find-us .info {
	/* text-align: center; */
	padding-top: 150px ;  
	padding-left: 100px;
}


/* -------------------- Form -------------------- */
form .button {
    display:flex;
    justify-content: flex-end;
    margin-right: 10px;
}



.css-grid {
    display: grid; 
    grid-template-columns: 30% 70%;
}



/* -------------------- Side Nav Bar -------------------- */
.css-grid .col1 {
    display: flex;
}

.css-grid .col2 {
    z-index: 1;
}

.sidebar {
    /* position: fixed; */
    flex: 1 1 0; 
    max-width: 300px;
    padding: 2rem 1.25rem;
}

.sidebar.is-active {
    /* position: fixed; */
    flex: 1 1 0; 
    /* max-width: 300px; */
    padding: 2rem 1.25rem;
    background-color: var(--primary);
    z-index: 2;
}

.sidebar h3 {
    font-size: 1.25rem; 
    text-transform: uppercase;
    margin-bottom: 0.5em;
    color: var(--primary);
}

.sidebar.is-active h3 {
    font-size: 1.25rem; 
    text-transform: uppercase;
    margin-bottom: 0.5em;
    color: var(--light);
    z-index: 2;
}

.sidebar .menu {
    background-color: var(--light);
    margin: 0 -1rem; 
    border-bottom: none;
}

.sidebar.is-active .menu {
    background-color: var(--primary);
    margin: 0 -1rem; 
    border-bottom: none;
    z-index: 2;
}

.sidebar .menu .menu-item {
    display: block; 
    padding: 1em;
    color: var(--dark);
    text-decoration: none;
    transition: 0.2s linear;
}

.sidebar.is-active .menu .menu-item {
    display: block; 
    padding: 1em;
    color: var(--light);
    text-decoration: none;
    transition: 0.2s linear;
    z-index: 2;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
    color: var(--primary);
    border-right: 5px solid var(--primary);
}

.sidebar.is-active .menu .menu-item:hover {
    color: var(--dark);
    border-right: 5px solid var(--dark);
}

.menu-toggle {
    display: none; 
    position: fixed;
    top: 5rem; 
    right: 1.5rem; 
    width: 60px; 
    height: 60px; 
    border-radius: 99px; 
    background-color: var(--primary);
    cursor: pointer; 
}

.hamburger {
    position: relative; 
    top: calc(50% - 2px); 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 32px; 
}

.hamburger > span, 
.hamburger > span::before, 
.hamburger > span::after {
    display: block; 
    position: absolute; 
    width: 100%; 
    height: 4px; 
    border-radius: 99px;
    background-color: var(--light); 
    transition-duration: .25s;
}

.hamburger > span::before {
    content: '';
    top: -8px; 
}

.hamburger > span::after {
    content: '';
    top: 8px; 
}

.menu-toggle.is-active .hamburger > span {
    transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
    top: 0; 
    transform: rotate(0deg); 
}
.menu-toggle.is-active .hamburger > span::after {
    top: 0; 
    transform: rotate(90deg); 
}

@media (max-width: 1024px) {
    .sidebar {
        max-width: 200px;
    }
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .content {
        padding-top: 8rem;
    }

    .sidebar {
        position: fixed;
        top: 0; 
        left: -300px;
        height: 100vh; 
        width: 100%; 
        max-width: 300px;
        transition: 0.2s linear; 
    }

    .sidebar.is-active {
        left: 0; 
    }
}


/* Order-list */
#order_list li {
	list-style: none;
	
}




.pagination {
	padding-right: 0;
	justify-content: right;
	margin-right: 0;
	margin: auto auto 0 auto;
}




/* Typography */
/* h1, h2, h3, h4, h5, h6 { font-family:"Open sans", Helvetica, Arial; }
h1, .h1, h2, .h2, h3, .h3 { margin-top:30px; } 
blockquote { font-style: italic; font-family: Georgia; color:#999; margin:30px 0 30px; } */
label { color: #777; }
.thin { font-weight:300; }
.page-title { margin-top:20px; font-weight:300; }
.text-muted { color:#888; }
.breadcrumb { background:none; padding:0; margin:30px 0 0px 0; }
ul.list-spaces li{ margin-bottom:10px; }

/* Helpers */
.container-full { margin: 0 auto; width: 100%; }
.top-space { margin-top: 60px; }
.top-margin { margin-top:20px; }

img { max-width:100%; }
img.pull-right { margin-left: 10px; }
img.pull-left { margin-right: 10px; }
#map { width:100%; height:280px; }
#social { margin-top:50px; margin-bottom:50px; }
	#social .wrapper { width:340px; margin:0 auto; }

/* Main content block */

/* Sidebars */
/* .sidebar { padding-top:36px; padding-bottom:30px; }
	.sidebar .widget { margin-bottom:20px; }
	.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 { margin-top:20px; }  */

/* Footer */
.footer1 { background: #232323; padding: 30px 0 0 0; font-size: 12px; color: #999; }
	.footer1 a { color: #ccc; }
		.footer1 a:hover {color: #fff; }
	.footer1 .widget { margin-bottom:30px; }		
	.footer1 .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px; }
	.footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
		.footer1 .entry-meta a { color: #333333; }
		.footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
	.follow-me-icons { font-size:30px; }		
		.follow-me-icons i { float:left; margin:0 10px 0 0; }		

.footer2 { background: #191919; padding: 15px 0; color: #777; font-size: 12px; }
	.footer2 a { color: #aaa; }
		.footer2 a:hover { color: #fff; }
		.footer2 p { margin: 0; }

	.widget-simplenav { margin-left:-5px; }		
	.widget-simplenav a{ margin:0 5px; }		

	/* Added CSS */
	/* ABOUT US */
	#contacts.contacts {
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		width: auto;
		min-height: 200px;
		text-align: left;
		position:relative;
		/* outline: 4px solid #000; */
		text-align: left;
		padding-left: 5%;
		padding-bottom: 0.5%;
		overflow-x: hidden;
		overflow-y: auto;
	} 	

	header {
		font-family: 'Lateef', cursive;
		font-weight: 400;

	}
	
	#contact-wrapper.contact-wrapper {
		margin-left: 5%;
		margin-right: 5%;
		outline: 4px solid #000;
		margin-bottom: 20px;
	}
	
	#contactimg.contactimg {
		position: relative;
		float:left; 
		width:200px;height:200px;
		margin-right:15px;
		border-radius: 30px;
		margin-left:15px;
		margin-top: 10px;
	}
	#names.names {
		/* margin-left: 200px; */
		/* font-family: 'Lateef', cursive; */
		font-family: 'Alike', serif;
		font-size: 32px;
		float: right;
		position:absolute;
		bottom: 70%;
	}

	#emails.emails {
		/* margin-left: 200px; */
		float: right;
		position:absolute;
		bottom: 60%;
		
	}

	#contact_description.contact_description {
		font-family: 'Source Sans Pro', sans-serif;		
		font-weight: 600;
		/* margin-left: 200px; */
		margin-right: 150px;
		float: right;
		position:absolute;
		bottom: 0%;
		top: 40%;
	}
	
	/* THANK YOU */
	#thankyou.thankyou{
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		max-width: 90%;
		min-height: 250px;
		outline: 4px solid #000;
		padding-left: 5%;
		padding-bottom: 2px;
		display: flex;
  		justify-content: center;
  		align-items: center;
	} 	


	/* DONATION-FORM */
	#donation.donate{
		/* height:500px; */
		/* align-items: center; */
		background-color: #F4F3F8;
		padding-top: 20px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 20px;
		text-align:left;
		outline: 1px solid rgb(12, 12, 12);
	}


/* BOOK LIST */

#book_list {
    color: black;
	text-align: center;
}

.bookDiv {
    margin-bottom: 10px;
    height: 300px;
	text-align: center;
	position: relative;
	/* outline: 3px solid rgb(232, 229, 229); */

}

.book_name {
	font-family: 'Alike', serif;
	font-size: 16px;
	cursor: pointer;
}

.author_name {
	font-family: 'Source Sans Pro', sans-serif;		
	font-weight: 600;
	cursor: pointer;
}

#book_list_img.book_list_img {
	height: 160px;
	width: 120px;
	position: relative;
	bottom: 0%;
	/* left: 30%; */
	margin-bottom: 15px;
	cursor: pointer;
}

#book_list_sidebar.sidebar {
	/* background-color: #F4F3F8; */
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#search_box.form-control {
	margin-top: 30px;
	margin-bottom: 30px;
}
.search_icon {
	margin-left: 12px; 
	margin-top: 40px;
}
